<% include partials/header %>
<% include partials/nav-sidenav %>
<!-- documentation section starts -->
<div class="dashboard-body">
  <span>Store Keepers section</span>
</div>
<% include partials/footer %>