<% include partials/header %>
<% include partials/nav-sidenav %>
<!-- documentation section starts -->
<div class="dashboard-body">
  <span>Here is the Suppliers Section</span>
</div>
<% include partials/footer %>
